* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;


}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
   
}


.registration-container {
    
    width: 300px;
    height: 460px;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255);
    border-radius: 10px;
    border: 2px solid #fff;
    margin-right: 150px;
    
    
}

.registration-container img {
    margin-left: 110px;
    padding-top: 5px;
    width:75px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column; 
    align-items: stretch; 
    gap: 5px; 
}
input {
    padding: 10px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #000;
    color: #000;
    font-size: 13px;
}

input::placeholder {
    color: #000;
}
button {
    background: #000;
    font-size: medium;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

button:hover {
    background: transparent;
    color: #000;
    outline: 1px solid #000;
    margin-left: 10px;
    margin-right: 10px;
}
h2 {
    text-align: center; 
    margin-top: 10px;  
}

p {
    margin-top: 10px;
    margin-left: 10px;
    font-size: smaller;
}
